<!--
<div class="container-fluid">

    <div class="row justify-content-center">

        <div class="d-flex">
            <h3>Employee List</h3>
        </div>

    </div>
    <table class="table table-hover">
        <thead class="thead-dark">
            <th scope="col">Employee ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email ID</th>
            <th scope="col">Mobile No.</th>
            <th scope="col">Salary</th>
            <th scope="col">Action</th>
        </thead>
        <tbody>
            <tr class="tex-align">
                <td>001</td>
                <td>AAA</td>
                <td>BBB</td>
                <td>ab@gmail.com</td>
                <td>017XXXXXXXXX</td>
                <td>500000</td>
                <td>
                    <button class="btn btn-success mx-2" data-toggle="modal" data-target="#viewModal">VIEW</button>
                    <button class="btn btn-info mx-2" >EDIT</button>
                    <button class="btn btn-danger mx-3" data-toggle="modal" data-target="#deleteModal">DELETE</button>
                </td>
            </tr>
        </tbody>
    </table>



  <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Employee Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group row">
                <label for="firstName" class="col-sm-4 col-form-label">First Name</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="firstName" placeholder="Enter your first name...">
                </div>
              </div>
              <div class="form-group row">
                  <label for="lastName" class="col-sm-4 col-form-label">Last Name</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="lastName" placeholder="Enter your last name...">
                  </div>
                </div>

                <div class="form-group row">
                  <label for="email" class="col-sm-4 col-form-label">Email</label>
                  <div class="col-sm-8">
                    <input type="email" class="form-control" id="email" placeholder="Enter your email...">
                  </div>
                </div>

                <div class="form-group row">
                  <label for="mobile" class="col-sm-4 col-form-label">Mobile no.</label>
                  <div class="col-sm-8">
                    <input type="number" class="form-control" id="mobile" placeholder="Enter your mobile no...">
                  </div>
                </div>

                <div class="form-group row">
                  <label for="salary" class="col-sm-4 col-form-label">Salary</label>
                  <div class="col-sm-8">
                    <input type="number" class="form-control" id="salary" placeholder="Enter your salary...">
                  </div>
                </div>
           </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete Confirm?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure delete this content?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

-->



  <div class="fluid-container">
    <br>
    <h2 style="text-align: center;">List of Employees</h2>
    <div class="card m-5 p-3">
        <div class="card-body">

            <!-- <form (submit)="filterById()">
                <label>
                    Min
                    <input type="number" name="min" id="min" [(ngModel)]="min" />
                </label>
                <label>
                    Max
                    <input type="number" name="max" id="max" [(ngModel)]="max" />
                </label>
                <button class="btn btn-primary" type="submit">Filter by ID</button>
            </form> -->
            <br />
            <div class="table-responsive" >
                <table class="table table-bordered table-striped table-hover display nowrap" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Phone number</th>
                        <th>Address</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let user of allUsers">
                        <td>{{ user.id }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.address.street }}, {{ user.address.city }}</td>
                        <td>
                          <button class="btn btn-success mx-2" value="View"
                          *ngIf="user"  (click)="viewEmployee(user)">VIEW</button>
                          <button class="btn btn-info mx-2" >EDIT</button>
                          <button class="btn btn-danger mx-3" data-toggle="modal" data-target="#deleteModal">DELETE</button>
                      </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>

<!-- View Modal -->

<div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Employee Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="employee">
          <div class="form-group row">
              <label for="firstName" class="col-sm-4 col-form-label">Username</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" id="firstName" [(ngModel)]="employee.username" >
              </div>
            </div>
            <div class="form-group row">
                <label for="lastName" class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="lastName" [(ngModel)]="employee.email" readonly>
                </div>
              </div>

              <div class="form-group row">
                <label for="email" class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                  <input type="email" class="form-control" id="email" placeholder="Enter your email...">
                </div>
              </div>

              <div class="form-group row">
                <label for="mobile" class="col-sm-4 col-form-label">Mobile no.</label>
                <div class="col-sm-8">
                  <input type="number" class="form-control" id="mobile" placeholder="Enter your mobile no...">
                </div>
              </div>

              <div class="form-group row">
                <label for="salary" class="col-sm-4 col-form-label">Salary</label>
                <div class="col-sm-8">
                  <input type="number" class="form-control" id="salary" placeholder="Enter your salary...">
                </div>
              </div>
         </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<!-- Delete Modal -->

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Confirm?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure delete this content?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
