
  <div class="fluid-container">
    <br>
    <h2 style="text-align: center;">List of Employees</h2>
    <div class="card m-5 p-3">
        <div class="card-body">
            <br />
            <div class="table-responsive" >
                <table class="table table-bordered table-striped table-hover display nowrap" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Phone number</th>
                        <th>Address</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let user of allUsers">
                        <td>{{ user.id }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.address.street }}, {{ user.address.city }}</td>
                        <td>
                          <button class="btn btn-success mx-2" value="View"
                          *ngIf="user"  (click)="viewEmployee(user)">VIEW</button>
                          <button class="btn btn-info mx-2" value="Edit"
                          *ngIf="user"  (click)="editEmployee(user)">EDIT</button>
                          <button class="btn btn-danger mx-3" value="Delete"
                          *ngIf="user"  (click)="deleteEmployee(user)">DELETE</button>
                      </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>
